body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 0;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 1.5;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    line-height: 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
hr{
    border-style: none;
    border-top: dotted 7px;
    margin: 60px auto 130px;
    width: 5%;
    border-color:#EAF6F6;
}
a{
    margin: 10px 20px;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.firstContainer{
    background-color: #E4F9F5;
    padding-top: 150px;
    position: relative;
}
.bottom-container{
    background-color: #66BFBF;
    margin: 100px auto 0;
    padding:50px 20px;
}
.topCloud{
    position: absolute;
    top: 110px;
    right: 300px;
}
.bottomCloud{
    position: absolute;
    left:300px;
}
.footer-link{
    color: #11999E;
}
.subtitle{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 130px auto;
    text-align: left;
    line-height: 2;
}
.Design{
    width: 35%;
    float: left;
    padding-right: 50px;
}
.Football{
    width: 35%;
    float: right;
    padding-right: 50px;
}
.profilePic{
    width:13%;
    border-radius: 50%;
    margin: 70px auto 30px;
}
.intro{
    width: 30%;
    margin: auto;
    padding: 50px;
}
.contactMessage{
    width: 40%;
    margin: 40px auto 60px;
}
.getintouchMsg{
    margin: 70px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: #222;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .container .aos_container .aos_content {
    position: relative;
    height: calc(1 * 350px);
    width: calc(1.4142 * 350px);
    margin: 20px;
    transition: .5s;
    transition-property: opacity, transform;
  }
  
  .container .aos_container .aos_content {
    opacity: 0;
  }
  
  .container .aos_container.active .aos_content {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate3d(0deg, 0deg, 0deg) scale(1) skew(0deg, 0deg);
  }
  .container #box1 .aos_content {
    background: indigo;
    transform: translateX(-200px);
  }
  
  .container #box2 .aos_content {
    background: #40DF30;
    transform: translateX(200px);
  }
  
  .container #box3 .aos_content {
    background: #2109EA;
    transform: scale(0);
  }
  @media only screen and (max-width: 600px) {
    .contact-me{
        align-items: center;
    }
    .heading{
        font-size: 35px;
    }
    .subtitle{
        font-size: 35px;
    }
    .mountain{
        width: 100%;
    }
    .intro{
   width: 200px;
    }
    .designSubheading{
        display: flex;
        position: relative;
    }
    .desc{
        position: absolute;
        left: 85px;
        bottom: -20px;
    }
    .football{
        position: absolute;
        bottom: 30px;
        right: 120px;
    }
    .Football{
        position: absolute;
        bottom: 30px;
        left: 110px;
    }
  }
